html{
	scroll-behavior: smooth;
}

/*corpo*/

body{ 
}

/*Cabeçalho*/

header {}

.cabecalho{
	width: 100%;
	height: 260px;
	background-image: linear-gradient(to bottom, transparent 85%, #f8f8f8 100%), url("background-pokegold2.jpg");
	background-size: 100%;
	background-position: bottom;
	background-repeat: no-repeat;
	background-color: #78A0F8; 
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Press Start 2P', cursive;
}

.logo {
	width: 5% ;
	margin: 20px 20px 108px 20px;
	float: left;
	
}

.conteudo-cabecalho{
	margin:  0 0 88px 0 ;
	width: 53%;
}

.nome{
	font-size: 2.2em;
	font-weight: bold;
}

.descricao{
	margin-top: 1em;
	font-size: 0.65em;
}


.navegacao {
	width: 32%;
	margin:0 68px 88px 0;
	padding: ;

	 
}

.navegacao a{
	color: black;
	text-decoration: none;

}

.pokeball{
	width: 28px;
	margin: 5px;
}

.pokeball:hover{
	width: 31px;
	cursor: pointer;
}

.menu-pokeball{
	
	position: absolute;
	right: 20px;
	top: 1.75em;
	position: fixed;
}

.item-menu {
	background: #FEFEFE;
	border: 0.4em double black;
	margin: 0.2em;
	padding: 0.3em;
	font-size: 0.9em;
	display: block;
}

.item-menu:hover {
	font-weight: bold;
	cursor: pointer;
}

.seta-direita {
	width: 0.5em;
	margin: 0 5px;
	vertical-align: middle;
}



/*Apresentação pessoal*/

main{ 
	font-family: 'Montserrat', sans-serif;
	background: linear-gradient(#f8f8f8, #78A0F8, #2040A7);

}

.apresentacao, .apresentacao2, .apresentacao3{
	
	margin: 0 20px 0;
	padding: 5em 30px 6em;


}

#apresentacao{
	color: black;
	text-decoration: none;
}

.titulo-principal{
	margin: 0 0 0.3em;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	transition: 0.5s font-size;
}

.titulo-principal:hover{
	font-size: 2.1em;

}

.texto-principal1, .texto-principal2, .texto-principal3{
	text-align: center;
	font-size: 110%;
	color: black;
	border: 7px double black;
	border-radius: 20px;
	margin: 2em 30px 2em;
	padding: 1em 20px 0;
	min-height: 300px;
	transition: 0.5s border;
}


.texto-principal1:hover {

	border: 7px double #24C90A;
	border-radius: 20px;
	font-weight: bold;
}


.texto-principal3:hover {

	border: 7px double #0EACD2;
	border-radius: 20px;
	font-weight: bold;

}

.texto-principal1 p, .texto-principal2 p, .texto-principal3 p {
	margin: 0 0 1em;
}

.totodile, .chikorita{
	width: 27%;
	margin: 2em 0 0 20px;
	float: right;
	
}


/*Habilidades*/

.cindaquil {
	width: 27%;
	margin: 3.5em 20px 0 10px;
	float: left;	
}


.icone-hard, .icone-soft{
	width: 20%;
	margin: 0 0 1em;
}

.menu-skills{
	display: flex;
	min-height: 300px;
	align-items: center;
}

.menu-hs li, .menu-ss li{
	margin: 1em 0;
	font-weight: bold;
}

.texto-principal2:hover {

	border: 7px double #FF231B;
	border-radius: 20px;
	font-weight: bold;
}


/*Contato*/

.links-contato{
	min-height: 300px;
	margin-left: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.texto-principal3{
	vertical-align: middle;
	padding: 0;
}

.icones-redes{
	width: 120px;
}

.icones-redes:hover{
	width: 135px;
}

/*RODAPÉ*/
.rodape {
	padding: 100px 0 0 0;
	background-image: url("bg-footer.jpg");
	background-position: bottom 0 left 50%;
	background-color: #2040A7;
	background-size: 110%;
	background-repeat: no-repeat;
	height: 10em;
	position: relative;
}

.rodape p {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	bottom: 40%;
	left: 3em;
}


@media screen and (max-width: 560px){
	.logo{
		width: 10%;
		margin: 20px 10px 0;
	}

	.titulo-principal{
		font-size: 1.5em;
		margin: 1em 0;
		display: flex;
		flex-basis: 100%;
	}

	.conteudo-cabecalho{
		width: 80%;
		margin: 20px 0 0 0;
	}

	.navegacao{
		width: 90%;
		margin: 0 20px 0 0;
	}

	.menu-geral{
		margin: 0 auto;
		text-align: center;
	}

	.cabecalho{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}


	.apresentacao, .apresentacao2, .apresentacao3{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
		padding: 4em 0 0;	
	}

	.pokeball{
		width: 20px;
		margin: 8.5px 0;
		}
	.menu-pokeball{
		position: absolute;
		right: 7.5px;
		top: 142px;
		position: fixed;
		}

	.chikorita, .cindaquil, .totodile{
		margin: 0;
	}

	.menu-skills{
		display: flex;
		flex-direction: column;
		min-height: 300px;
	}

	.menu-hs, .menu-ss{
		margin: 1em 0;
	}

	.icone-hard, .icone-soft{
		width: 30%;
	}

	.icones-redes{
		width: 150px;
		margin: 1em;
		flex-shrink: 0;
	}

	.texto-principal3, .texto-principal2, .texto-principal1{
		padding: 2em 2em;
		min-width: 70%;
		margin: 0 30%;
	}

	.links-contato{
		margin: 0;
		display: flex;
		flex-direction: column;

	}